.footer{
    background: #2a2d34;
    box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    line-height: 24px;
}
.footer_content-left a{
    text-decoration: underline;
    margin-right: 10px;
    color: #ffdb4c;
}

@media screen and (max-width: 760px) {
    .footer_content-left, .footer a {
        width: 100%;
    }
}